@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap");
/* Global Style */
html,
body,
div,
h1,
h2,
p,
span,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Poppins", sans-serif;
}
/* ============= Navigation Bar Style ============*/
.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #321fdb;
}
.nav-link ul{
  display: flex;
  flex-wrap: wrap;

}
.nav-link li{
  list-style: none;
  margin-left: 30px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  line-height: 100px;
}
li:hover{
  transform: scale(1.2);
}
/* ============= flexiable box  Style ============*/
.flex-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 86px 15px;
}

.top-banner {
  background-color: #321fdb;
}

.banner-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 80px;
  color: #fff;
  margin-bottom: 30px;
}

.title-text {
  display: block;
  animation: playerin 1.6s ease;
  flex-grow: 1;
}

.banner-image img {
  margin-top: 60px;
  animation: playerin 5s ease;
  max-width: 100%;
}

/* bannar image animation */
@keyframes playerin {
  0% {
    opacity: 0;
    transform: translateY(-85px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* ============= Button Style ============*/
.btn {

  text-decoration: none;
  font-weight: 600;
  background: #E02C6D;
  color: #fff;
  padding: 15px 40px;
  margin-top: 20px;
}
.btn:hover{
  box-shadow: 0px 2px 30px rgba(252, 143, 73, 0.5);
}

/*  ============ Player section  ============ */
.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 80px;
}
.player {
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
}
.player:hover {
  transition: 0.5s all ease;
  transform: scale(1.03);
}
.player img {
  max-width: 100%;
}
.player-name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #18191f;
  padding: 0 10px;
}
.player-description {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 0 10px;
  color: #6C6C6C;
  text-align: justify;
  
}

/*  ============ Player section  ============ */

/*  ============ Buttom-Banner-Section  ============ */

.buttom-banner {
  background-color: #ffffff;
  color: #18191f;
  padding: 15px;
}


.buttom-text h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 30px;
}

.buttom-text p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  color: #6c6c6c;
  width: 500px;


}

.buttom-image img {
  margin-top: 41px;
  max-width: 100%;
}

/*  ============ footer section style  ============ */

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px;
}
.footer-section img {
  max-width: 100%;
}
.fab,
.fas {
  margin-top: 28%;
  cursor: pointer;
  
}
.round-icon{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(221, 214, 214);
  text-align: center;
  color: #fff;
  border-radius: 50%;
  margin-left: 15px;
  
}
.round-icon:hover{
  transform: scale(1.3);
  transition: 0.8s all ease;
}
.footer-section {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.copyright{
  margin: 60px;
}
@media only screen and (max-width: 600px) {
  .players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .flex-banner {
    flex-direction: column;
    align-items: baseline;
  }
  .top-banner {
    background-color: #321fdb;
  }
}
@media only screen and (max-width: 800px) {
  .players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .flex-banner {
    flex-direction: column;
    align-items: baseline;
  }
  .buttom-text p {
    width: 100%;
  }
  .nav-bar{
    
    flex-direction: column;
  }
  .nav-link ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;

  }
}
