:root {
  --primary: #321fdb;
  --secondary: #ced2d8;
  --success: #2eb85c;
  --info: #421fdbef;
  --warning: #f9b115;
  --danger: #e55353;
  --light: #ebedef;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;700&display=swap");
/* Global Style */
html,
body,
div,
h1,
h2,
p,
span,
img,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Poppins", sans-serif;
}
/* ============= Navigation Bar Style ============*/

/* ============= flexiable box  Style ============*/
.flex-banner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: brown;
  width: 100%;
  padding-bottom: 86px 0;
}

.top-banner {
  background-color: #321fdb;
}

.banner-text h1 {
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 80px;
color: #fff;
margin-bottom: 30px;
}

.title-text {
  display: block;
  animation: playerin 1.6s ease  ;
}

.banner-image img {
  margin: 60px;
  animation: playerin 5s ease  ;
  max-width: 100%;
}

/* bannar image animation */
@keyframes playerin{
	0% {
		opacity: 0;
		transform: translateY(-85px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}


/* ============= Button Style ============*/
.btn {
  padding: 10px 24px;
  width: 168px;
  height: 44px;
  text-decoration: none;
  color: #ced2d8;
  background-color: #e55353;
  animation: playerin 6s ease;
  font-weight: bold;
}
.btn:hover{
  background-color: #e21c1c;
}

/*  ============ Player section  ============ */
.player-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 80px;
}
.player {
  width: 330px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
}
.player:hover {
  transition: 1ms;
  transform: scale(1.02);
}
.player img {
  max-width: 100%;
}
.player-name{
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #18191F;
  padding: 0 10px;
}
.player-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  padding: 0 10px;
  color: #6c6c6c;
}

/*  ============ Player section  ============ */

















@media only screen and (max-width: 600px) {

  .players {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 800px) {

  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}